.spammaster_fw_main {
  font-family: "Trebuchet MS", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #444444;
  background-color: #eeeeee;
  font-size: 90%;
}
.spammaster_fw_page {
  background-color: #ffffff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  width: 60%;
  margin: 100px auto;
}
.spammaster_fw_logo {
  padding: 10px;
  text-align: center;
  background-color: #ff8200;
  color: #ffffff;
}
.spammaster_fw_content {
  padding: 18px 18px 18px 18px;
  text-align: left;
}
.spammaster_fw_content_footer {
  text-align: center;
}
.spammaster_fw_footer {
  color: #666666;
  background: #f9f9f9;
  padding: 10px 20px;
  border-top: 1px #ddd solid;
  text-align: center;
}
.spammaster-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}
.spammaster-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.spammaster-center {
  text-align: center;
}
.spammaster-p-lead {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}
.spammaster-p-small {
  font-size: 85%;
}
.spammaster-head {
  width: 100%;
}
.spammaster-t-head {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}
.spammaster-t-head-th {
  background-color: #07b357;
  text-align: center;
  padding-bottom: 12px;
  color: #ffffff;
}
.spammaster-t-foot-tr {
  background-color: #eae7de;
  height: 30px;
}
.spammaster-t-foot-th {
  padding-left: 3px;
}
.spammaster-t-body-tr {
  background-color: #ffad58;
}
.spammaster-t-body-td {
  height: 30px;
  padding-left: 3px;
  color: #ffffff;
}
.spammaster-h-body-tr {
  height: 30px;
}
.spammaster_st_page {
  background-color: #ffffff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  width: 80%;
  margin: 100px auto;
}
.spammaster-middle {
  vertical-align: middle !important;
}
.spammaster-bottom {
  vertical-align: bottom !important;
}
.spammaster-responsive {
  width: 100%;
}
.spammaster-responsive-49 {
  width: 49%;
}
.spammaster-flex {
  display: flex;
}
.spam-master-admin-red {
  color: #c65145 !important;
}
.spam-master-admin-green {
  color: #9abf7f !important;
}
.spam-master-admin-blue {
  color: #7fb1bf !important;
}
.spam-master-admin-orange {
  color: #f0a637 !important;
}
.spam-master-admin-orangina {
  color: #d39542 !important;
}
.spam-master-admin-yellow {
  color: #f2c664 !important;
}
.spam-master-top-admin-shadow-red {
  text-shadow: 0 1px #c65145 !important;
}
.spam-master-top-admin-shadow-green {
  text-shadow: 0 1px #9abf7f !important;
}
.spam-master-top-admin-shadow-blue {
  text-shadow: 0 1px #7fb1bf !important;
}
.spam-master-top-admin-shadow-orange {
  text-shadow: 0 1px #f0a637 !important;
}
.spam-master-top-admin-shadow-orangina {
  text-shadow: 0 1px #d39542 !important;
}
.spam-master-top-admin-shadow-yellow {
  text-shadow: 0 1px #f2c664 !important;
}
.spam-master-top-admin-shadow-offline {
  text-shadow: 0 1px #abb4b7 !important;
}
@media screen and (max-width: 1025px) {
  .spammaster-responsive-25,
  td {
    display: inline;
  }
}
