<div class="spammaster_fw_main">

	<div class="spammaster_fw_page">

		<div class="spammaster_fw_logo">
			<h2>403 Forbidden</h2>
		</div>

		<div class="spammaster_fw_content">
			<p><strong>Hint: Upgrade your browser to the latest version.</strong></p>
		</div>

		<div class="spammaster_fw_footer">
			<p>Protected by <a href="https://www.spammaster.org/contact/">Spam Master</a></p>
			{% if user.hasPermission('administer nodes') %}
				<p><a href="/admin/config/system/spammaster/log">< Back to settings (admin view). Firewall test page finished, You are not blocked, this is just a test.</a></p>
			{% endif %}
		</div>

	</div>
</div>



